body {
    background-color: #0D0D0D;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.bg-container {

    position: absolute;
    z-index: -1;
}

.line {
    border-left: 1px solid #1B1B1B;
    border-right: 1px solid #1B1B1B;
    height: 3100px;
    width: 400px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: -4px;

}



.social-main .contacts-list{
    padding-left: 0px;
}
.social-main .contacts-list li{
    text-decoration: none;
    display: block;

}
.social-main .contacts-list a, a:hover, a:link, a:visited{
    text-decoration: none;
    color: white;
}

section{
    margin-bottom: 80px;
}

h1 {
    font-size: 48px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

h2 {
    margin: 4px 0px;
}
h3 {
    margin: 4px 0px;
}

.header-container{
    padding-top: 20px;
    width: 1200px;
    display: flex;
    justify-content: space-between;    
    
}
.logo{
    font-size: 24px;
    display: flex;
    padding-top: 10px;
}
.logo a:hover, a:link {
    text-decoration: none;
}

nav {
    width: 800px;
}
nav ul {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}
nav li {
    display: inline-block;

}


.main {
    padding-top: 200px;
    width: 1200px;
    display: inline-block;
    background: url(img/bg.png);
    background-size: cover;
    min-height: 400px;
}

.social-main {
    display: inline-block;
    width: 400px;

    height: 50px;
    margin-right: -4px;
}

.info-main {
    display: inline-block;
    width: 800px;

    height: 50px;
    margin-right: -4px;

}

.heading {
    box-sizing: border-box;
    width: 400px;
    display: inline-block;
    vertical-align:top;
    border-left: 4px solid #C11F1F;
    padding-left: 4px;
    margin-right: -4px;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}


.photo {
    width: 400px;
    height: 50px;

    margin-right: -4px;
    display: inline-block;
    background-size: cover;
    width: x;
    height: y;
}

.about-text {
    
    padding-top: -100px;
    width: 800px;
    margin-right: -4px;
    display: inline-block;
    line-height: 32px;
}

.skill-item  {
    box-sizing: border-box;
    width: 400px;
    display: inline-block;
    vertical-align:top;
    margin-right: -4px;

}

li {
    margin-bottom: 10px;
}

.example {
    
    color: rgb(165, 173, 182);
    background-color: rgb(20, 21, 22);
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align:top;
    margin-left: -1px;
}

.exp-heading {
    margin-bottom: 20px;
}
.exp-rec {
    margin-bottom: 20px;
}
.exp-item {
    width: 395px;
    display: inline-block;
    vertical-align:top;
}
.exp-date {
    font-size: 24px;
}
.exp-place {
    font-size: 24px;
}



.footer-item {
    width: 395px;
    display: inline-block;
    vertical-align:top;
}

.contacts-list {
    vertical-align:top;
    margin-top: 0px;
    font-weight: bold;

}

.year {
    font-size: 64px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    text-decoration: underline;
}

justify-content: space-between;